:root{
  --color-primary-one: #F85E9F;
  --second-text-color:#19182580;
  --background-ligth-white:#ffffff;
}
.container{
  margin: 45px 150px;
}
.page_main__GlU4n {
  min-height: max-content !important;
}
.title h4{
  text-transform: uppercase;
  color: var(--color-primary-one);
}
.sub-hero{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sub-hero > .bg2-hero{
  background: url(/imagenes/bg2-hero.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100px;
  position: absolute;
  top: -50px;
  left: -55px;
  z-index: -1;
}
.sub-hero > .icons{
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
}
.icons-companys{
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.sub-hero > .bg3-hero{
  background: url(/imagenes/bg3-hero.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  height: 700px;
  width: 500px;
  position: absolute;
  top: -350px;
  right: -300px;
  z-index: -1;
}
.icon{
  display: block;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin:0px 10px;
}

.icon-one{
  background: url(/imagenes/badge2.svg);
  height: 30px;
  width: 30px;
}

.badge{
  position: absolute;
  background-color: var(--background-ligth-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  width: max-content;
  padding: 10px 25px;
  border-radius: 25px;
  top: 23%;
  right: 20%;
}

.badge-reverse{
  flex-direction: row-reverse;
}

.referencias{
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  position: relative;
}
.referencias>div:nth-child(1){
  padding: 0 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.referencias>div>p{
  color: var(--second-text-color);
  position: relative;
  left: 175px;
}

.referencias>div:nth-child(2){
  background: url(/imagenes/path2.svg);
  background-repeat: no-repeat;
  background-position: 60% -1% ;
  justify-content: end;
  z-index: -1;
}

.referencias > div:nth-last-child(1)>img{
  position: absolute;
  width: 356px;
  height: 356px;
  top: -41px;
  left: 70%;
  z-index: -2;
}
.images-location{
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-location >img:nth-child(1){
  position: absolute;
  top: 7%;
  right: 22%;
  z-index: -2;
}
.images-location >img:nth-child(2){
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 65.5%;
}
.location{
  display: flex;
  margin: 50px 0 0 0;
}
.location>div{
  margin: 0 0 0 35px;
}
.location>div:nth-child(2)>h4{
  color: var(--second-text-color);
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
